<div class="content">
    <h1>Tasks</h1>
    <ul class="tasklist">
        <li ng-repeat="task in tasks">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="checkbox" ng-checked="task.done" ng-click="checkTask(task)">
            <span ng-class="{strike: task.done}">{{task.title}}</span>
            <span class="delete">[<a ng-click="deleteTask($index)" title="delete task">x</a>]</span>
        </li>
    </ul>
    <form class="newtask" role="form" ng-submit="addTask()">
        <div>
            <div>
                <input type="text" ng-model="newTaskTitle" placeholder="add new todo here">
                <input type="submit" value="Add" ng-disabled="!newTaskTitle">
            </div>
        </div>
    </form>
</div>