[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.tasklist {
	list-style: none;
	margin: 1em 2em;
}

.delete {
	color: #990000;
}

.strike {
    text-decoration: line-through;
    color: #999;
}

.newtask {
	margin: 1.25em;
}